.hamburger-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999; /* Super high to sit on top of everything */
  
  background: rgba(255, 255, 255, 0.2); /* Slight see-through background */
  border: none;
  color: white; /* Force White Icon */
  
  font-size: 1.8rem;
  width: 45px;
  height: 45px;
  border-radius: 50%; /* Circle shape */
  
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  backdrop-filter: blur(5px); /* Blurs the camera behind it */
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  
  /* Smooth color transition */
  transition: all 0.3s ease;
}

/* Hover effect */
.hamburger-btn:active {
  transform: scale(0.9);
  background: rgba(255, 255, 255, 0.4);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


